body {
	margin: 0;
	color: white;
	background-color: #242424;
	font-family: sans-serif;
}

.header {
	background-color: #1a1a1a;
	padding: 5px;
	padding-left: 20px;
}

.content {
	text-align: center;
	padding: 30px;
}

a, a:hover, a:active, a:visited { color: white; }
